<% if (breadcrumbs && breadcrumbs.length > 0) { %>
  <nav class="mb-4">
    <a href="/" class="text-md text-amber-800 hover:underline">Home</a>
    <% breadcrumbs.forEach((crumb, index) => { %>
      <span class="text-amber-900"> /</span> <a href="/folder/<%= crumb.id %>" class="text-md text-amber-800 hover:underline"><%= crumb.name %></a>
    <% }) %>
  </nav>
<% } %>
