<!-- File path view -->
<!--
<div class="mt-12 relative z-10">
  <div class="text-center">
    <% folders.forEach(folder => { %>
      <ul class="inline-block text-left">
        <li>
          <a href="/folders/<%= folder.id %>" class="underline hover:text-blue-600">
            <%= folder.name %>
          </a>
        </li>
      </ul>
    <% }) %>
  </div>
</div>
-->

