<!doctype html>
<html data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="/stylesheets/output.css" rel="stylesheet">
 

  <title>Home</title>
</head>

<body>

    <h1 class="text-red-500">Test</h1>

  <script src="/assets/vendor/preline/dist/preline.js"></script>

</body>

</html>