<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/stylesheets/output.css" rel="stylesheet" />

    <title>Home</title>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <% if (user) { %>
        
    <%- include('../partials/sidebar') %>
    <div class="min-h-screen bg-gradient-to-b from-blue-50 via-transparent light:from-blue-50 light:via-transparent">
        <%- include('../partials/file-path') %>
        <%- include('../partials/files') %>
    </div>
   

    <% } %>

    <script src="/assets/vendor/preline/dist/preline.js"></script>
  </body>
</html>
